# WordPress core
wordpress/*
!wordpress/wp-config.php
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/themes/
wordpress/wp-content/themes/**/node_modules/
wordpress/wp-content/themes/**/public/build/
!wordpress/wp-content/uploads/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
