:root {
  --body-bg: #fff;
  --body-color: #212529;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.75;
  --font-sans-serif: 'Noto Sans JP', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: var(--font-sans-serif);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin: 0;
}
